<!DOCTYPE html>
<html>

<head>
    <title>&beta;p-Skeleton</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/d3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/plots.js') }}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>
    <div id="controls">
        <fieldset>
            <legend>Point Set Parameters</legend>
            <p>
                <label for="sampling">Sampling Strategy</label>
            </p>
            <p>
                <select name="sampling" id="sampling_dropdown" oninput="updateSampling()">
                    <option value="uniform">Uniformly Distributed</option>
                    <option value="normal">Normally Distributed</option>
                    <option value="lhs">Latin Hypercube Sampling</option>
                    <option value="cvt">Centroidal Voronoi Tessellation</option>
                </select>
            </p>
            <p>
                <label for="count">Point Count:
                    <span id='count'></span>
                </label>
            </p>
            <p>
                <input type="range" id="count_slider" name="count" min="1" max="5" value="1" oninput="updateCount()" />
            </p>
            <p>
                <label for="p">Random Seed:
                    <span class="text" id="seed"></span>
                </label>
            </p>
            <p>
                <input type="range" id="seed_slider" name="seed" min="0" max="9" value="0" oninput="updateSeed()" />
            </p>
            <p>Compute Time:
                <span class="text" id="point_time"></span>
            </p>
        </fieldset>
        <fieldset>
            <legend>Graph Parameters</legend>
            <p>
                <label for="graph">Graph Type</label>
            </p>
            <p>
                <select name="graph" id="graph_dropdown" oninput="updateGraph()">
                    <option value="knn">KNN</option>
                    <option value="base">NGL-Base</option>
                    <option value="omp">NGL-OMP</option>
                    <option value="numba">NGL-Numba</option>
                    <option value="gpu">NGL-GPU</option>
                </select>
            </p>
            <p>
                <label for="k">K:
                    <span class="text" id="k"></span>
                </label>
            </p>
            <p>
                <input type="range" id="k_slider" name="k" min="1" max="9" value="4" oninput="updateK()" />
            </p>
            <p>
                <label for="beta" id="beta_label">&beta;:
                    <span class="text" id="beta"></span>
                </label>
            </p>
            <p>
                <input type="range" id="beta_slider" name="beta" min="0.1" max="2" step="0.1" value="1" oninput="updateBeta()" />
            </p>
            <p>
                <label for="p" id="norm_label">p:
                    <span class="text" id="p"></span>
                </label>
            </p>
            <p>
                <input type="range" id="norm_slider" name="p" min="0.2" max="5" value="2" step="0.1" oninput="updateNorm()" />
            </p>
            <p>
                <label for="discrete" id="discrete_label">Discrete Sampling</label>
                <input type="checkbox" id="discrete_checkbox" name="discrete" oninput="updateDiscrete()" />
            </p>
            <p>
                <label for="steps" id="steps_label">Steps:
                    <span class="text" id="steps"></span>
                </label>
            </p>
            <p>
                <input type="range" id="steps_slider" name="steps" min="10" max="1000" value="100" step="10" oninput="updateSteps()" />
            </p>
            <svg id="templateShape">
                    <polygon class="polygon"></polygon>
                </svg>
            <p>Compute Time:
                <span class="text" id="graph_time"></span>
            </p>
        </fieldset>
    </div>
    <div id="graph">
        <svg class="erg" id="ergCanvas"></svg>
    </div>
</body>
<script type="text/javascript">
    //Debugging features
    var debug = true;
    var maxP = 5;

    // User-specified values
    var pNorm;
    var beta;
    var k;
    var numSamples = 100;
    var seed = 0;
    var strategy;
    var graph;
    var steps;

    //To be computed from the CSS after the html has been instantiated
    // For retrieving CSS values
    var style;

    // Example Lp-Norm shape size
    var templateSize;

    // Shape above's padding (using a fixed value since stroke-width has
    // more of an effect on this)
    var padding = 10;

    // Size of the displayed
    // neighborhoods
    var graphSize;

    var canvas;

    // Data as flattened xy-array
    var points;
    // Edges as flattened array
    var edges;

    function pointMouseOver(d) {
        // console.log(this.id.toString());
    }
    function pointMouseOut(d) {
        // console.log(this.id.toString());
    }
    function edgeMouseOver(d) {
        // console.log(this.id.toString());
    }
    function edgeMouseOut(d) {
        // console.log(this.id.toString());
    }

    function updateData() {
        numSamples = Math.pow(10, parseInt(document.getElementById("count_slider").value));
        seed = parseInt(document.getElementById("seed_slider").value);
        strategy = document.getElementById('sampling_dropdown').value;
        // graph = document.getElementById('graph_dropdown').value;
        // k = parseInt(document.getElementById("k_slider").value) + 1;
        // beta = parseFloat(document.getElementById("beta_slider").value);
        // pNorm = parseFloat(document.getElementById("norm_slider").value);
        // var discrete = document.getElementById("discrete_checkbox").checked;
        // if (discrete) {
        //     steps = parseInt(document.getElementById("steps_slider").value);
        // }
        // else {
        //     steps = -1;
        // }


        var data = { "count": numSamples, "seed": seed, "s_type": strategy };

        console.log('sending request to /sample');

        d3.request("/sample")
            .header("Content-Type", "application/json")
            .post(JSON.stringify(data), function (error, data) {
                if (error == null) {
                    console.log('receiving response from /sample');
                    var response = JSON.parse(data.response);
                    var text = response.data;
                    document.getElementById('point_time').innerText = response.time;
                    text = text.replace(/\[|\]/gi, '').split(',');
                    points = new Array(2 * numSamples);
                    for (var i = 0; i < text.length; i++) {
                        points[i] = parseFloat(text[i]);
                    }
                    // updateEdges();
                    plotPoints();
                }
                else {
                    console.log(error);
                }
            });
    }

    function updateEdges() {
        numSamples = Math.pow(10, parseInt(document.getElementById("count_slider").value));
        seed = parseInt(document.getElementById("seed_slider").value);
        strategy = document.getElementById('sampling_dropdown').value;
        graph = document.getElementById('graph_dropdown').value;
        k = parseInt(document.getElementById("k_slider").value) + 1;
        beta = parseFloat(document.getElementById("beta_slider").value);
        pNorm = parseFloat(document.getElementById("norm_slider").value);
        var discrete = document.getElementById("discrete_checkbox").checked;
        if (discrete) {
            steps = parseInt(document.getElementById("steps_slider").value);
        }
        else {
            steps = -1;
        }

        console.log('sending request to /graph');

        var data = {
            "count": numSamples, "seed": seed, "s_type": strategy,
            "g_type": graph, "k": k, "beta": beta, "p": pNorm, "steps": steps
        };

        d3.request("/graph")
            .header("Content-Type", "application/json")
            .post(JSON.stringify(data), function (error, data) {
                if (error == null) {
                    console.log('receiving response from /graph');
                    var response = JSON.parse(data.response);
                    document.getElementById('graph_time').innerText = response.time;
                    var text = response.edges;
                    var lines = text.trim().split(';');
                    edges = new Array(lines.length - 1 * 2);
                    var i = 0;
                    for (var i = 0; i < lines.length; i++) {
                        var tokens = lines[i].trim().split(',');
                        if (tokens.length > 1) {
                            edges[2 * i] = parseInt(tokens[0]);
                            edges[2 * i + 1] = parseInt(tokens[1]);
                        }
                    }
                }
                else {
                    console.log(error);
                }

                plotEdges();
            });
    }

    function updateCount() {
        var newValue = parseInt(document.getElementById("count_slider").value);
        document.getElementById("count").innerHTML = Math.pow(10, newValue);
        numSamples = Math.pow(10, newValue);
        document.getElementById("k_slider").max = numSamples - 1;
        newValue = parseInt(document.getElementById("k_slider").value);
        document.getElementById("k").innerHTML = newValue;
        updateData();
    }

    function updateSampling() {
        updateData();
    }

    function updateSeed() {
        var newValue = parseInt(document.getElementById('seed_slider').value);
        document.getElementById('seed').innerHTML = newValue;
        updateData();
    }

    function updateGraph() {
        graph = document.getElementById('graph_dropdown').value;

        if (graph == 'knn') {
            document.getElementById('beta_label').hidden = true;
            document.getElementById('beta_slider').hidden = true;
            document.getElementById('norm_label').hidden = true;
            document.getElementById('norm_slider').hidden = true;
            document.getElementById('discrete_label').hidden = true;
            document.getElementById('discrete_checkbox').hidden = true;
            document.getElementById('steps_label').hidden = true;
            document.getElementById('steps_slider').hidden = true;
            document.getElementById('templateShape').hidden = true;

        }
        else if (graph == 'base' || graph == 'omp') {
            document.getElementById('beta_label').hidden = false;
            document.getElementById('beta_slider').hidden = false;
            document.getElementById('norm_label').hidden = true;
            document.getElementById('norm_slider').hidden = true;
            document.getElementById('discrete_label').hidden = true;
            document.getElementById('discrete_checkbox').hidden = true;
            document.getElementById('steps_label').hidden = true;
            document.getElementById('steps_slider').hidden = true;
            document.getElementById('templateShape').hidden = false;
        }
        else {
            document.getElementById('beta_label').hidden = false;
            document.getElementById('beta_slider').hidden = false;
            document.getElementById('beta_slider').hidden = false;
            document.getElementById('norm_label').hidden = false;
            document.getElementById('norm_slider').hidden = false;
            document.getElementById('discrete_label').hidden = false;
            document.getElementById('discrete_checkbox').hidden = false;
            if (document.getElementById('discrete_checkbox').checked) {
                document.getElementById('steps_label').hidden = false;
                document.getElementById('steps_slider').hidden = false;
            }
            else {
                document.getElementById('steps_label').hidden = true;
                document.getElementById('steps_slider').hidden = true;
            }
            document.getElementById('templateShape').hidden = false;
        }
        updateEdges();
    }

    function updateDiscrete() {
        graph = document.getElementById('graph_dropdown').value;

        document.getElementById('steps_label').hidden = true;
        document.getElementById('steps_slider').hidden = true;
        if ((graph == 'numba' || graph == 'gpu') && document.getElementById('discrete_checkbox').checked) {
            document.getElementById('steps_label').hidden = false;
            document.getElementById('steps_slider').hidden = false;
        }
        updateEdges();
    }

    function updateK() {
        var newValue = parseInt(document.getElementById("k_slider").value);
        document.getElementById("k").innerHTML = newValue;
        updateEdges();
    }

    function updateSteps() {
        var newValue = parseFloat(document.getElementById("steps_slider").value);
        document.getElementById("steps").innerHTML = newValue;
        updateEdges();
    }

    function updateBeta() {
        var newValue = parseFloat(document.getElementById("beta_slider").value);
        document.getElementById("beta").innerHTML = newValue;
        updateEdges();
    }

    function updateNorm() {
        var newValue = parseFloat(document.getElementById("norm_slider").value);
        if (newValue == maxP) {
            pNorm = Number.POSITIVE_INFINITY;
            document.getElementById("p").innerHTML = '\u221e';
        }
        else {
            pNorm = parseFloat(newValue);
            document.getElementById("p").innerHTML = newValue;
        }
        updateEdges();
    }

    function plotPoints() {
        canvas = d3.select("#ergCanvas");
        canvas.selectAll('.point').remove();
        var point_glyphs = canvas.append("g").attr("class", "point");
        for (var i = 0; i < numSamples; i++) {
            var x = points[2 * i] * graphSize;
            var y = points[2 * i + 1] * graphSize;

            point_glyphs.append("circle")
                .attr("class", "point")
                .attr("r", 1e-6)
                .attr("cx", x)
                .attr("cy", y)
                .attr("id", "point_" + i.toString())
                .on("mouseover", pointMouseOver)
                .on("mouseout", pointMouseOut)
                // .transition()
                .attr("r", 4);
        }
    }

    function plotEdges() {
        canvas = d3.select("#ergCanvas");
        canvas.selectAll('.edge').remove();
        var edge_glyphs = canvas.append("g").attr("class", "edge");
        for (var i = 0; i < edges.length / 2; i++) {
            var e1 = edges[2 * i];
            var e2 = edges[2 * i + 1];
            // console.log(e1, e2);

            var x1 = points[2 * e1] * graphSize;
            var y1 = points[2 * e1 + 1] * graphSize;

            var x2 = points[2 * e2] * graphSize;
            var y2 = points[2 * e2 + 1] * graphSize;

            edge_glyphs.append("line")
                .attr("class", "edge")
                .attr("x1", x1)
                .attr("y1", y1)
                .attr("x2", x2)
                .attr("y2", y2)
                .attr("id", "edge_" + e1.toString() + "_" + e2.toString())
                .on("mouseout", edgeMouseOut)
                .on("mouseover", edgeMouseOver);
        }
    }
</script>
<script>
    style = window.getComputedStyle(document.body);
    templateSize = parseInt(style.getPropertyValue('--templateSize'));
    graphSize = parseInt(style.getPropertyValue('--graphSize'));

    document.getElementById("k_slider").max = numSamples - 1;

    d3.select('#templateShape').attr("width", templateSize)
        .attr("height", templateSize)
        .style("display", "block")
        .style("margin", "auto");

    plot = d3.select('#templatePlot')
    constructGrid(plot, graphSize, graphSize, 4, 4);
    plot.append('line')
        .attr("class", "axis")
        .attr('x1', graphSize / 2.)
        .attr('y1', 0)
        .attr('x2', graphSize / 2.)
        .attr('y1', graphSize);
    plot.append('line')
        .attr("class", "axis")
        .attr('x1', 0)
        .attr('y1', graphSize)
        .attr('x2', graphSize)
        .attr('y2', graphSize);

    var temp = parseInt(document.getElementById("count_slider").value);
    numSamples = Math.pow(10, temp);
    document.getElementById("count").innerHTML = numSamples;

    seed = parseFloat(document.getElementById("seed_slider").value);
    document.getElementById("seed").innerHTML = seed;

    pNorm = parseFloat(document.getElementById("norm_slider").value);
    document.getElementById("p").innerHTML = pNorm;

    k = parseInt(document.getElementById("k_slider").value);
    document.getElementById("k").innerHTML = k;

    beta = parseFloat(document.getElementById("beta_slider").value);
    document.getElementById("beta").innerHTML = beta;

    steps = parseFloat(document.getElementById("steps_slider").value);
    document.getElementById("steps").innerHTML = steps;

    constructGrid(d3.select("#ergCanvas"), graphSize, graphSize);
    updateCount();
    updateGraph();
    updateDiscrete();
    updateData();
    updateEdges();
</script>

</html>